{%- set frontend_url = "https://" ~ lg_autopeer_domain -%}
{%- set config = {
    "autopeer_url": frontend_url,
    "autopeer_site_url": frontend_url,
    "looking_glass_url": lg_looking_glass_site_url,
    "oidc_methods": []
} -%}
{{ config | to_nice_json }}
